<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.healthqx.AutomationFrame.Sso.TestNetworkAnalysisMainPageLayout</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyHeader</td>
<td>Network Analysis MainPage- LayOut </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyPrivacyNotice</td>
<td>Network Analysis MainPage- LayOut </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyFootNote</td>
<td>Network Analysis MainPage- LayOut </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>navigateBackToMainPage</td>
<td>Network Analysis MainPage- LayOut </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyHelpPageNewTab</td>
<td>Network Analysis MainPage- LayOut </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>navigateToNetworkAnalysisUsingDropDown</td>
<td>Network Analysis MainPage- LayOut </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyTermsOfUse</td>
<td>Network Analysis MainPage- LayOut </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>navigateToEposodeOpportunityUsingTile</td>
<td>Network Analysis MainPage- LayOut </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
