<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>HealthQX Episode Opportunity Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c87b81">  <td>18/09/04 08:41:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNetworkAnalysisMainPageLayout.beforeTest(java.lang.String, java.lang.String)[pri:0, instance:com.healthqx.AutomationFrame.Sso.TestNetworkAnalysisMainPageLayout@6d4b1c02]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1675498587</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>18/09/04 08:43:18</td>   <td>78855</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNetworkAnalysisMainPageLayout.navigateBackToMainPage()[pri:2, instance:com.healthqx.AutomationFrame.Sso.TestNetworkAnalysisMainPageLayout@6d4b1c02]">navigateBackToMainPage</td> 
  <td>TestNG-tests-1@1675498587</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>18/09/04 08:42:29</td>   <td>30387</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNetworkAnalysisMainPageLayout.navigateToEposodeOpportunityUsingTile()[pri:1, instance:com.healthqx.AutomationFrame.Sso.TestNetworkAnalysisMainPageLayout@6d4b1c02]">navigateToEposodeOpportunityUsingTile</td> 
  <td>TestNG-tests-1@1675498587</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>18/09/04 08:43:20</td>   <td>80854</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNetworkAnalysisMainPageLayout.navigateToNetworkAnalysisUsingDropDown()[pri:3, instance:com.healthqx.AutomationFrame.Sso.TestNetworkAnalysisMainPageLayout@6d4b1c02]">navigateToNetworkAnalysisUsingDropDown</td> 
  <td>TestNG-tests-1@1675498587</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>18/09/04 08:43:30</td>   <td>90440</td> <td title="&lt;&lt;TestNetworkAnalysisMainPageLayout.tearDown()[pri:0, instance:com.healthqx.AutomationFrame.Sso.TestNetworkAnalysisMainPageLayout@6d4b1c02]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>18/09/04 08:43:24</td>   <td>85175</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNetworkAnalysisMainPageLayout.verifyFootNote()[pri:4, instance:com.healthqx.AutomationFrame.Sso.TestNetworkAnalysisMainPageLayout@6d4b1c02]">verifyFootNote</td> 
  <td>TestNG-tests-1@1675498587</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>18/09/04 08:43:27</td>   <td>88281</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNetworkAnalysisMainPageLayout.verifyHeader()[pri:7, instance:com.healthqx.AutomationFrame.Sso.TestNetworkAnalysisMainPageLayout@6d4b1c02]">verifyHeader</td> 
  <td>TestNG-tests-1@1675498587</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>18/09/04 08:43:28</td>   <td>88961</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNetworkAnalysisMainPageLayout.verifyHelpPageNewTab()[pri:8, instance:com.healthqx.AutomationFrame.Sso.TestNetworkAnalysisMainPageLayout@6d4b1c02]">verifyHelpPageNewTab</td> 
  <td>TestNG-tests-1@1675498587</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>18/09/04 08:43:27</td>   <td>87477</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNetworkAnalysisMainPageLayout.verifyPrivacyNotice()[pri:6, instance:com.healthqx.AutomationFrame.Sso.TestNetworkAnalysisMainPageLayout@6d4b1c02]">verifyPrivacyNotice</td> 
  <td>TestNG-tests-1@1675498587</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>18/09/04 08:43:25</td>   <td>85482</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNetworkAnalysisMainPageLayout.verifyTermsOfUse()[pri:5, instance:com.healthqx.AutomationFrame.Sso.TestNetworkAnalysisMainPageLayout@6d4b1c02]">verifyTermsOfUse</td> 
  <td>TestNG-tests-1@1675498587</td>   <td></td> </tr>
</table>
